body {
	background-color: #004d9b;
  color: white;
}

header{
     text-align: center;
     font-size: 25px;
     padding:20px;
}

.pokemon{
     text-align: center;
     font-size: 20px;
     color: #ffa;
     font-weight: bold;
     
     padding: 20px 5px;
}

.footer {
  background: #152f4f;
  color: white;

  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: white;
      transition: color 0.2s;
      &:hover {
        text-decoration: none;
        color: #4180cb;
      }
    }
  }
  .about-company {
    i {
      font-size: 25px;
    }
    a {
      color: white;
      transition: color 0.2s;
      &:hover {
        color: #4180cb;
      }
    }
  }
  .location {
    i {
      font-size: 18px;
    }
  }
  .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
